html, body { 
    height: 100% 
}

.navbar {
    margin-bottom: 0px
}

#dropCont {
    background-color: olive;
    text-align: center;
    border-style: dashed;
    height: calc(100% - 52px);
}

#dataCont {
    height: calc(100% - 52px)
}

#dragndropMsg {
    top: 50%;
    position: relative
}

#fileSelect {
    opacity: 0;
    z-index: 1;
    position: absolute
}

.alert {
    margin-bottom: 0
}

.modal-backdrop.in {
    opacity: 0
}

.modal-backdrop {
    position: inherit
}
.navbar-brand {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 0;
    text-align: center;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis
}

.back-button {
    margin-top: 7px;
    background-color: #F8F8F8;
    border-color: #F8F8F8    
}

.modal-header {
    background-color: #337ab7;
    color: white
}

#dataCont {
    padding-left: 0;
    padding-right: 0;
}