html, body { 
    height: 100% 
}

.navbar {
    margin-bottom: 0px
}

#dropCont {
    background-color: white;
    text-align: center;
    border-style: dashed;
    height: calc(100% - 52px);
}

#alertDiv > .modal-dialog > .modal-content > .modal-header {
    background-color:#d9534f;
    color: white;
    border-bottom-color: #d9534f
}

#dragndropMsg {
    top: 50%;
    position: relative
}

#fileSelect {
    opacity: 0;
    z-index: 1;
    position: absolute
}

.modal-backdrop.in {
    opacity: 0
}

.modal-backdrop {
    position: inherit
}
.navbar-brand {
    position: absolute;
    width: 50%;
    left: 25%;
    top: 0;
    text-align: center;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis
}

.back-button {
    margin-top: 7px;
    background-color: #F8F8F8;
    border-color: #F8F8F8    
}

.modal-header {
    background-color: #337ab7;
    color: white
}

#dataCont {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 52px;
    bottom: 30px;
}

.xline {
    top:0px;
    visibility: hidden;
    height:100%;
    width:2px;
    position: absolute;
    background-color: red;
    z-index:-1
}

#legend {
    visibility: hidden;
    position: absolute;
    right:0;
    top:0;
    z-index:-1
}

li { cursor: pointer; cursor: hand; }

.footer {
    bottom:0;
    width:100%;
    height:30px;
    position:absolute;
    text-align: center
}

.footer > .form-inline > .form-group {
    display: inline-block
}

#dataLength {
    width:50px
}

#scPlot {
    width:100px
}

.navbar-default {
    z-index:11
}

#chList {
    height:300px
}
