
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="btn btn-default back-button">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            </button>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menubar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><%= fileName %></a>
        </div>
        
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="menubar">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">File
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">                        
                        <li><a href="#" data-toggle="modal" data-target="#headermodal">File Information</a></li>
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">View
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a id="plotType">Butterfly</a></li>
                        <li><a id="resetZoom">Reset Zoom</a></li>
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Events
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#crEvModal">Create new event type</a>
                        </li>
                        <li>
                            <a href="#"><span> Mark new event </span></a>
                        </li>
                    </ul>
                    </a>
                </li>
            
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Channels
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="#" data-toggle="modal" data-target="#chaninfo">Channel Information</a>
                        </li>
                    </ul>
                    </a>
                </li>
                <li><a href="#help">Help</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid" id="dataCont">
</div>

<!-- Create Event modal -->
<div class="modal fade" id="crEvModal">
  <div class="modal-dialog">
    <div class="modal-content">
        
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Create new event type</h4>
      </div>
        
      <div class="modal-body">
          <input type="text" class="form-control" placeholder="Event1">
      </div>
        
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="evType">Save changes</button>
      </div>
        
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    
<div class="modal fade" id="headermodal">
  <div class="modal-dialog">
    <div class="modal-content">
        
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">File Information</h4>
      </div>
        
      <div class="modal-body">
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th>Parameters</th>
                      <th>Values</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>File Name</td>
                      <td><%= fileName %></td>
                  </tr>
                  <tr>
                      <td>Sampling rate (Hz)</td>
                      <td><%= hdr.samF %></td>
                  </tr>
                  <tr>
                      <td>Length of file (s)</td>
                      <td><%= hdr.records %></td>
                  </tr>
                  <tr>
                      <td>Number of Channels</td>
                      <td><%= hdr.ns %></td>
                  </tr>
                  <tr>
                      <td>Units</td>
                      <td><%= hdr.units %></td>
                  </tr>
                  <tr>
                      <td>File Size (Mb)</td>
                      <td><%= (hdr.totalSize/1000000).toFixed(2) %></td>
                  </tr>
              </tbody>
          </table>
      </div>
        
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
        
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="chaninfo">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Channel Information</h4>
      </div>
        
      <div class="modal-body">
          <div class="btn-group">
              <button type="button" class="btn btn-danger btn-sm" id="allBad">Mark all as Bad</button>
              <button type="button" class="btn btn-success btn-sm" id="allGood">Mark all as Good</button>
              <button type="button" class="btn btn-danger btn-sm" id="someBad">Mark selected as Bad</button>
              <button type="button" class="btn btn-success btn-sm" id="someGood">Mark selected as Good</button>
              <button type="button" class="btn btn-info btn-sm" id="hideBad">Hide Bad Channels</button>
              <button type="button" class="btn btn-info btn-sm" id="resetSelect">Reset Selection</button>
          </div>
          
          <table class="table table-hover" id="chanTable">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Name</th>
                      <th>Visible</th>
                      <th>Good</th>
                  </tr>
              </thead>
              <tbody>
                  <% for(var i = 0;i < hdr.ns;i++) { %>
                  <% if(good[i]) { %>
                      <tr class="success">
                    
                  <% } else { %>
                      <tr class="danger">
                  <% } %>
                      <td><%= i+1 %></td>
                      <td class="channel"><%= hdr.channels[i] %></td>
                      <td>
                          <% if(visible[i]) { %>
                              <input type="checkbox" class="visible" checked>
                          <% } else { %>
                              <input type="checkbox" class="visible">
                          <% } %>
                      </td>
                      <td>
                          <% if(good[i]) { %>
                              <input type="checkbox" class="status" checked>
                          <% } else { %>
                              <input type="checkbox" class="status">
                          <% } %>
                      </td>
                  </tr>
                  <% } %>
                  
              </tbody>
          </table>
      </div>
        
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
        
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->